<GridLayout>
  <RadListView #listview [items]="photos" itemReorder="true">
    <ListViewGridLayout
      tkListViewLayout
      scrollDirection="Vertical"
      ios:itemHeight="100"
      [spanCount]="columns"
    ></ListViewGridLayout>
    <ng-template tkListItemTemplate let-photo="item">
      <GridLayout class="photo-container">
        <FrescoDrawee
          height="90"
          width="90"
          decodeWidth="90"
          decodeHeight="90"
          isDownsampleEnabled="true"
          aspectRatio="1"
          autoPlayAnimations="true"
          actualImageScaleType="fitXY"
          [imageUri]="photo.url"
        ></FrescoDrawee>
      </GridLayout>
    </ng-template>
  </RadListView>
</GridLayout>
