<GridLayout>
  <RadListView #listview [items]="photos" itemReorder="true">
    <ListViewGridLayout
      tkListViewLayout
      scrollDirection="Vertical"
      ios:itemHeight="100"
      spanCount="4"
    ></ListViewGridLayout>
    <ng-template tkListItemTemplate let-photo="item">
      <GridLayout>
        <FrescoDrawee
          height="100"
          width="100"
          decodeWidth="100"
          decodeHeight="100"
          isDownsampleEnabled="true"
          verticalAlignment="center"
          placeholderImageUri="res://home"
          aspectRatio="1"
          autoPlayAnimations="true"
          [imageUri]="photo.url"
        ></FrescoDrawee>
      </GridLayout>
    </ng-template>
  </RadListView>
</GridLayout>
